@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap'); */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
